[run]
branch = True
source = 
    mt940
    mt940_tests

omit =
    */mock/*
    */nose/*
[paths]
source =
    mt940

[report]
fail_under = 100
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

