*.py[cod]

# C extensions
*.so

# vim
*~
.*.swp

# Packages
.eggs
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
cover
/.cache/
/htmlcov/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm
.idea
venv

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
/docs/doctrees/
/docs/html/
