language: python
python:
  - "2.7"
  - "3.4"
# command to install dependencies
install:
  - pip install -r requirements.txt --use-mirrors
  - pip install . --use-mirrors

# command to run tests
script:
    - py.test

